@import "tailwindcss";

@theme {
  --color-purple: rgba(75, 1, 75, 1);
  --color-orange:rgba(250, 136, 30, 1);
  --color-green: rgba(27, 177, 114, 1);
  --color-lightpink: rgb(246 200 246);
  --color-secondry: rgb(246, 247, 249, 1);
  --color-green: rgb(27,177,114, 100);
  --color-gray: rgb(170 169 169);
  --color-lightpurple: rgba(75, 1, 75, 0.26);
  --color-textlight:rgba(138, 138, 138, 1);
  --color-fadepurple:rgba(75, 1, 75, 0.72);
  --color-neutral:rgba(13, 36, 64, 1);
  --font-inter:"Inter" "san-serif";
}

* {
  font-family: "Figtree";
  scroll-behavior: smooth;
}

    .custom-scrollbar::-webkit-scrollbar {
        width: 2px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background:white; 
        border-radius: 10px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: purple; 
        border-radius: 30px;
    }


 .workcardstyle {
  @apply p-[24px] transition-all duration-200 h-[265px] cursor-pointer  hover:shadow-md/60 hover:bg-purple hover:text-white text-center flex flex-col items-center rounded-xl bg-[#F6F7F9];
 }

 .trustcardstyle {
  @apply md:max-w-[300px] w-full px-[33px] py-8 flex flex-col gap-[18px] hover:shadow-lg   transition-all duration-300 cursor-pointer  bg-white text-center  items-center rounded-xl;
 }

 .customercardstyle {
  @apply flex flex-col hover:shadow-lg  max-w-[413px] items-center w-full p-5  md:p-[32px] rounded-2xl bg-secondry;
 }

 .buttonstyle {
  @apply  hover:bg-purple hover:shadow-md/30 duration-150 mt-2 cursor-pointer flex bg-orange py-[10px] px-[20px] lg:py-[17px] lg:px-[50px] rounded-xl m-auto max-w-fit text-white  font-semibold;
 }

 .whatsmovingbtn {
  @apply  border-1 text-xs  transition-all duration-350   text-center rounded-xl py-3 
 }